body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url(assets/bg.jpg) top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
@media (min-width: 1024px){
body::before {
    background-attachment: fixed;
}}

a {
    color: #18d26e;
}

a:hover {
    color: #35e888;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}